@font-face{
    font-family: 'Inter';
    src: url(material/Inter.ttf);
}
body{
    font-family: inter ;
}

#webicon{
    max-width: 100px;
    margin: 10px 5px;
}

.dropdown_nav{
    display: flex;
    
}